#head-wrapper-home {
  height: 100%;
  position: fixed;
  content: '';
  z-index: 0;
}

#bg-video {
  width: 100%;
  display: flex;
  object-fit: cover;
  height: 100%;
}
#video-sec {
  height: 700px;
  object-fit: cover;
}

